<mat-drawer-container class="container" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    mode="side"
    opened
    fxHide
    fxShow.gt-sm="true"
    [fxShow]="expand"
  >
    <div fxLayout="column" fxLayoutAlign="space-evenly center">
      <div class="menu-top">
        <mat-card class="card">
          <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <img
              src="https://via.placeholder.com/100x100?text=Photo"
              alt="Eduard Iacob Photo"
              class="propic"
            />
            <h1>Eduard Iacob</h1>
            <p class="title">web developer</p>
          </div>
        </mat-card>
      </div>
      <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      <div class="menu-nav">
        <mat-selection-list [multiple]="false">
          <mat-list-option class="test">About</mat-list-option>
          <mat-list-option class="test">My Skills</mat-list-option>
          <mat-list-option>Work</mat-list-option>
          <mat-list-option>Contact</mat-list-option>
        </mat-selection-list>
      </div>
      <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      <div class="menu-links"></div>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <button
      mat-icon-button
      (click)="expand = !expand"
      fxShow.lt-sm="true"
      fxHide.gt-sm="true"
    >
      <mat-icon *ngIf="!expand">menu</mat-icon>
      <mat-icon *ngIf="expand">close</mat-icon>
    </button>
  </div>
</mat-drawer-container>
